/* These hotfixes are not loaded on Safari due to a mis-release */

/* https://github.com/refined-github/refined-github/pull/5735 */
.file-header:not(.sticky-file-header) {
	top: 0;
	z-index: 6;
}

.file-header.has-open-dropdown:not(.sticky-file-header) {
	z-index: 10;
}

.notification-shelf ~ .application-main .file-header:not(.sticky-file-header) {
	top: 69px;
}
